@font-face{ 
    font-family: 'mplus-1p-regular';
    src: url('../fonts/mplus-1p-regular.eot');
    src: url('../fonts/mplus-1p-regular.eot?#iefix') format('embedded-opentype'),
         url('../fontsmplus-1p-regular.woff') format('woff'),
         url('../fonts/mplus-1p-regular.ttf') format('truetype');
}
.font-sans {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, mplus-1p-regular, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    transform: rotate(0.03deg);
}
.text--artist,
.text--title,
.text--desc {
    position: relative;
    display: inline-flex;
    align-items: center;
}
.text--artist::after {
    content: "\2013";
    position: relative;
    top: -1px;
    margin-left: 4px;
    color: #d1d5db;
}
.text--title {
    &::before {
        content: "\ff62";
        position: relative;
        top: -1px;
        margin-right: 1px;
        transform: rotate(0.03deg);
    }
    &::after {
        content: "\ff63";
        position: relative;
        top: 0;
        margin-left: 1px;
        transform: rotate(-0.03deg);
    }
}
.text--desc {
    font-size: 0.9375rem;
    line-height: 1.375rem;

    &::before {
        content: "\28";
        position: relative;
        top: -1px;
        margin-right: 2px;
    }
    
    &::after {
        content: "\29";
        margin-top: -1px;
        margin-left: 2px;
    }
}
.two-lines {
    display: flex;
    flex-direction: column;
    pointer-events: none;
}
.playlist-title,
.text--playlist-title {
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: #111827;
    pointer-events: none;
    transform: rotate(0.03deg);
}
.playlist-title:hover,
.text--playlist-title:hover {
    color: #fff;
}
a[aria-current="true"] .playlist-title {
    color: #fff;
}
.dark .playlist-title,
.dark .text--playlist-title {
    color: #f3f4f6;
}
.playlist-subtitle,
.text--playlist-artist {
    font-size: 0.75rem;
    line-height: 1rem;
    color: #78350f;
    pointer-events: none;
    transform: rotate(0.03deg);
}
.playlist-subtitle:hover,
.text--playlist-artist:hover {
    color: #fffbeb;
}
a[aria-current="true"] .playlist-subtitle {
    color: #fde68a;
}
.dark .playlist-subtitle,
.dark .text--playlist-artist {
    color: #f59e0b;
}
.text-rotate-0 {
    transform: rotate(0.03deg);
}
