@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html, body {
        overflow: hidden !important;
    }
    ::-webkit-scrollbar {
        width: 0.5rem;
        height: 0.5rem;
    }
    ::-webkit-scrollbar-track {
        background: #f9fafb;/* gray-50 */
    }
    ::-webkit-scrollbar-thumb {
        background: #d1d5db;/* gray-300 */
        border: solid 1px #f3f4f6;/* gray-100 */
        border-radius: 0.5rem;
    }
    .dark ::-webkit-scrollbar-track {
        background: #6b7280;/* gray-500 */
    }
    .dark ::-webkit-scrollbar-thumb {
        background: #1f2937;/* gray-800 */
        border: solid 1px #374151;/* gray-700 */
        border-radius: 0.5rem;
    }
}

@layer components {
    [role="alert"] {
        z-index: 51 !important;
    }

    [drawer-backdrop] {
        z-index: 49 !important;
    }
}

@layer utilities {
    :disabled {
        cursor: default !important;
        opacity: 0.3 !important;
    }
}