@charset "UTF-8";
@font-face {
  font-family: "mplus-1p-regular";
  src: url("../fonts/mplus-1p-regular.eot");
  src: url("../fonts/mplus-1p-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/mplus-1p-regular.woff") format("woff"), url("../fonts/mplus-1p-regular.ttf") format("truetype");
}
.font-sans {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, mplus-1p-regular, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  -webkit-transform: rotate(0.03deg);
          transform: rotate(0.03deg);
}

.text--artist,
.text--title,
.text--desc {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.text--artist::after {
  content: "–";
  position: relative;
  top: -1px;
  margin-left: 4px;
  color: #d1d5db;
}

.text--title::before {
  content: "｢";
  position: relative;
  top: -1px;
  margin-right: 1px;
  -webkit-transform: rotate(0.03deg);
          transform: rotate(0.03deg);
}
.text--title::after {
  content: "｣";
  position: relative;
  top: 0;
  margin-left: 1px;
  -webkit-transform: rotate(-0.03deg);
          transform: rotate(-0.03deg);
}

.text--desc {
  font-size: 0.9375rem;
  line-height: 1.375rem;
}
.text--desc::before {
  content: "(";
  position: relative;
  top: -1px;
  margin-right: 2px;
}
.text--desc::after {
  content: ")";
  margin-top: -1px;
  margin-left: 2px;
}

.two-lines {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  pointer-events: none;
}

.playlist-title,
.text--playlist-title {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #111827;
  pointer-events: none;
  -webkit-transform: rotate(0.03deg);
          transform: rotate(0.03deg);
}

.playlist-title:hover,
.text--playlist-title:hover {
  color: #fff;
}

a[aria-current=true] .playlist-title {
  color: #fff;
}

.dark .playlist-title,
.dark .text--playlist-title {
  color: #f3f4f6;
}

.playlist-subtitle,
.text--playlist-artist {
  font-size: 0.75rem;
  line-height: 1rem;
  color: #78350f;
  pointer-events: none;
  -webkit-transform: rotate(0.03deg);
          transform: rotate(0.03deg);
}

.playlist-subtitle:hover,
.text--playlist-artist:hover {
  color: #fffbeb;
}

a[aria-current=true] .playlist-subtitle {
  color: #fde68a;
}

.dark .playlist-subtitle,
.dark .text--playlist-artist {
  color: #f59e0b;
}

.text-rotate-0 {
  -webkit-transform: rotate(0.03deg);
          transform: rotate(0.03deg);
}

#carousel-wrapper [id^=carousel-item-] {
  height: 100%;
}

#carousel-wrapper [id^=carousel-item-]:not(.hidden) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
    -ms-flex-align: center;
      align-items: center;
  -webkit-box-pack: center;
    -ms-flex-pack: center;
      justify-content: center;
}

#carousel-wrapper [id^=carousel-item-] > img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

#drawer-settings label[id^=toggle-] > div {
  position: relative;
  overflow: hidden;
}

#collapse-menu [data-accordion-target] .accordion-caret {
  display: inline-flex;
  min-width: 0.875rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#collapse-menu [data-accordion-target] .accordion-caret .caret-up {
  display: none;
}

#collapse-menu [data-accordion-target][aria-expanded=true] .accordion-caret .caret-down {
  display: none;
}

#collapse-menu [data-accordion-target][aria-expanded=true] .accordion-caret .caret-up {
  display: block;
}

.dark #modal-options .normal-text {
  color: #d1d5db;
}

.dark #modal-options .normal-input {
  background-color: #111827;
  border-color: #374151;
  color: #e5e7eb;
}

.dark #modal-options .normal-input::-webkit-input-placeholder {
  color: #9ca3af;
}

.dark #modal-options .normal-input::-moz-placeholder {
  color: #9ca3af;
}

.dark #modal-options .normal-input:-ms-input-placeholder {
  color: #9ca3af;
}

.dark #modal-options .normal-input::-ms-input-placeholder {
  color: #9ca3af;
}

.dark #modal-options .normal-input::placeholder {
  color: #9ca3af;
}

.dark #modal-options .normal-prefix {
  background-color: #1f2937;
  border-color: #374151;
  color: #9ca3af;
}

.dark #drawer-settings #current-playlist,
.dark #drawer-settings #target-category,
.dark #drawer-settings #language {
  background-color: #1f2937;
  border-color: #4b5563;
  color: #f3f4f6;
}
/*# sourceMappingURL=ambient.css.map */